#hashtagImage{
    width: 100%;
    height: 80%;
}
#hashtagDiv{
    float:left;
    text-align: left;
    width: 20vw;
    height: 30vh;
    border-style: solid;
    border-color: lightgrey;
    padding:0;
    margin: 0 0 0 10px;
}
#hashtagP{
    margin: 0;
    padding: 0;
    align-content: left;
}
